.m-header-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.m-header-action__icon {
  position: relative;
  display: flex;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.m-header-action__badge {
  position: absolute;
  top: -0.5rem;
  right: -0.625rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-xs);
  font-weight: bold;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-header-action__label {
  font-size: var(--font-size-submd);
  color: var(--color-text-muted);
}