@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.footerbottom {
  width: 100%;
  border-top: 0.0625rem solid var(--color-border-light-green);
}

.container {
  max-width: var(--max-width-container, 75rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding-top: 2rem;
  color: var(--color-footer-link);
  font-size: var(--font-size-base);
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 48rem) {
  .o-footer__bottom {
    flex-direction: row;
  }
}

.copyright {
  font-weight: 600;
}

.phones {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.heading {
  color: var(--color-primary);
  font-size: var(--font-size-xl-title);
}

.socials-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 0.5rem; 
}

.socials {
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
}

.socials p {
  margin: 0; 
  font-weight: 700;
  color: var(--color-text-main); 
  margin-right: 0.25rem; 
}

.socials-group > p {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-text-muted);
  text-align: right;
  font-weight: 600;
}

.pg {
  display: inline-flex;
  gap: 0.25rem;
}