@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.footerbottom{
  width: 100%;
  border-top: 1px solid #bbf7d0; 

}

.container{
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding-top: 2rem;
  color: #6b7280;
  font-size: 0.875rem;
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 768px) {
  .o-footer__bottom {
    flex-direction: row;
  }
}

.copyright{
    font-weight: 600;
}
.phones{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.heading{
    color: #3BB77E;
    font-size: 30px;
}

.socials-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 8px; 
}

.socials {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.socials p {
  margin: 0; 
  font-weight: 700;
  color: #253D4E; 
  margin-right: 4px; 
}

.socials-group > p {
  margin: 0;
  font-size: 14px;
  color: #7E7E7E;
  text-align: right;
  font-weight: 600;
}
.pg{
    display: inline-flex;
    gap: 4px;
}