.m-search-bar {
  display: flex;
  width: 100%;
  max-width: 43.75rem; 
  border: 0.125rem solid #bce3c9;
  border-radius: 0.3125rem;
  background-color: #ffffff;
  overflow: hidden;
  align-items: stretch;
}

.m-search-bar__input-override {
  flex-grow: 1;
  padding: 0.9375rem 1.25rem;
  border: none;
  outline: none;
  font-size: 0.875rem;
  color: #253D4E;
  background: transparent;
}

.m-search-bar__button-override {
  border-radius: 0.3125rem; 
  padding: 0 1.5625rem;
  height: 90%;
  margin: 0;
  margin-top: 0.125rem;
  margin-right: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}