.m-search-bar {
  display: flex;
  width: 100%;
  max-width: 700px; 
  border: 2px solid #bce3c9;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  align-items: stretch;
}

.m-search-bar__input-override {
  flex-grow: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #253D4E;
  background: transparent;
}

.m-search-bar__button-override {
  border-radius: 5px; 
  padding: 0 25px;
  height: 90%;
  margin: 0;
  margin-top: 2px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}