.o-shop-products-grid-section {
  width: 100%;
}

.o-shop-products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

@media (max-width: 40rem) {
  .o-shop-products-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9rem;
  }
}